version: '3.9'

volumes:
  gitlab-runner-config:
    name: gitlab-runner-config
  gitlab-runner-home:
    name: gitlab-runner-home

services:
  gitlab-runner:
    container_name: gitlab-runner-1
    restart: always
    image: gitlab/gitlab-runner:alpine3.15-v15.11.0
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - gitlab-runner-config:/etc/gitlab-runner
      - gitlab-runner-home:/home/gitlab-runner
